body{
    background-color: rgb(78, 76, 76);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
h1{
    color: white;
    margin: 0 0 1em 0;
}
form{
    background: white;
    padding: 2em;
    border-radius: 1em;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.2);
    text-align: center;
}
input{
    padding: 0.5em;
    margin: 0.5em;
    width: 20em;
}
button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 0.5em 1em;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
  }
  
  button:hover {
    background-color: #0056b3;
  }