body{
    background-color: rgb(90, 3, 3);
    /* overflow: hidden; */
}

.container{
    background-color: black;

    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    padding-bottom: 5%;
    font-family: 'Franklin Gothic Medium';
    color:white;
    display: flex;
    
}

.left{
    height: 100px;
    padding: 10px;
    flex: 50%;
    padding-left: 0;
}

.right{
    height: 100px;
    padding: 10%; 
    flex: 50%; 
}

.prvek{
    border:solid rgb(65, 2, 2);
    padding-bottom: 5px;
    padding-top: 5px;
    margin-bottom: -1px;
    border-width: 1px;
    border-left-width: 0;
    border-right-width: 0;
    padding-left: 30px;
}

.left img{
    margin-left: 160px;
}

.prvek-nigga{
    border:solid;
    margin-bottom: 30px;
}