*{
    margin: 0;
    padding: 0;
    background-color: black;
    overflow: hidden;
}

#container{
    display: flex;
      justify-content: center; 
      align-items: center;
      height: 100vh;          
      margin: 0;
}

#sun{
    position: absolute;

    background-color: rgb(245, 245, 74);
    width: 130px;
    height: 130px;
    border-radius: 50%;

    animation: rotate 10s linear infinite;
    display: flex;
}

@keyframes rotate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}